{% extends 'base.html.twig' %}

{% block title %}Nos servives{% endblock %}

{% block content %}
<h1 class="text-center">Nos Services</h1>
    <div class="row mt-2 p-5">
            {% for se in services %}
            <div class="col-12 col-md-3">
                <div class="card">
                        <a href="#">
                        <img src="/upload/{{se.image()}}" alt ="Image tourisme" class="card-img-top" title="Image grotte" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">{{se.titre}}</a></h5>
                            <p class="card-text small">{{se.description|striptags}}</p>
                        </div>
                    </div>
            </div>
            {% endfor %}

    </div>

{% endblock %}
