{% extends 'base.html.twig' %}

{% block title %}Page introuvable-btech-expert{% endblock %}



{% block content %}
    <div class="block-small text-center">
        <a class="navbar-brand" href="{{ path('home')}}" style="padding-left:7%">
            <img  src="{{asset('assets/images/construction.jpg')}}" alt="construction" width="150" height="150">
        </a>
    </div>
    <hr class="featurette-divider">
{% endblock %}
