{% extends 'base.html.twig' %}

{% block title %}Page introuvable-btech-expert{% endblock %}



{% block content %}
    <div class="block-small text-center">
        <h2>Page introuvable</h2>
        <p>Désolé, cette page ne semble pas être accessible pour le moment.</p>
        <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
    </div>
    <hr class="featurette-divider">
{% endblock %}
